.App {
  --bg-image: url("./Assets/img/background.jpg");

  background: var(--bg-image) fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

p {
  cursor: default;
}
